#searchbar{
    border-radius: 10px;
    margin-left: 1250px;
    font-size: 20px;
}
/*Dette er scarchbaren
Border-radius: x%; =gør hjørnerne rundere
Font-Sixe: xpx; gør at hele searchbaren størrer
*/

:root {
    --white: #ffff;
    --black: #1F2125;
    --lightbeige: #F8F6F3;

    --beige: #C8C0B1;
    --green: #7FC193;
    --orange: #ED9B64;
    --blue: #8D95C3;
}


html {
    background-color: var(--lightbeige);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: 'Montserrat';
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    vertical-align: baseline;
    color: var(--black);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: var(--lightbeige);
}

/* promo banner */
.promo {
    display: block;
    font-size: 16px;
    background-color: var(--black);
    color: var(--lightbeige);
    padding: 4px;
    text-align: center;
    width: 100vw;
}

/* logo */
#logo {
    margin: 10px 16px;
    float: right;
}

@media (min-width:1200px) {
    .logo {
        display: flex;

        position: relative;
        width: 100vw;

    }

    .logo img {
        height: 100px;
        width: 100vw;
        text-align: center;
    }
}

/* Line */
hr {
    display: none;
}

@media (min-width: 1200px) {
    hr {
        width: 90%;
        display: flex;
        margin: auto;

    }
}

/* Nav menu */
.nav-menu {
    width: 100%;
    max-height: 0;
    margin: 0px 0px 0px 0px;
    position: fixed;
    background-color: var(--white);
    overflow: hidden;
    z-index: 97;
    transition: max-height .3s ease-out;
}

.menu {
    padding-top: 100px;
    height: 100vh;
}

.menu a {
    display: block;
    padding: 20px 0px 20px 75px;
    font-size: 28px;
    color: var(--black);
    text-decoration: none;
    font-family: 'Gilda Display', serif;

}

.menu a:hover {
    background-color: var(--lightbeige);
}

.nav-menu .search input {
    background-color: var(--lightbeige);
    border-radius: 10px;
    width: 344px;
    height: 57px;
    border: none;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 0.25);
    font-size: 20px;
    padding-left: 60px;
    display: flex;
    margin-left: 37px;
    margin-top: 100px;
}

.icons {
    display: none;
}

.search input::placeholder {
    color: var(--beige);
}

.search input[type=text]:focus {
    outline: none !important;
}

.search {
    display: flex;
    position: relative;

}

.nav-menu .search img {
    height: 30px;
    position: absolute;
    margin-left: 55px;
    margin-top: 113px;

}

.nav {
    max-height: 0;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: left;
    padding: 37px 30px;
}

/* Style label tag */
.hamb-line {
    background: var(--black);
    display: block;
    height: 1px;
    position: relative;
    width: 18px;

}

/* Style span tag  */
.hamb-line::before,
.hamb-line::after {
    background: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 150%;
}

.hamb-line::before {
    top: 8px;
}

.hamb-line::after {
    top: -8px;
}

/* Hide checkbox */
.side-menu {
    display: none;
    height: 25px;
    width: 25px;
    margin: 25px 0px 0px -50px;
    z-index: 99;
}


/* Toggle menu icon */
.side-menu:checked~.nav-menu {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    width: 33px;
    top: 0;
    z-index: 99;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    width: 33px;
    top: 0;
    z-index: 99;
}

#cart-nr {
    font-family: 'Gilda Display', serif;
}

/* Responsiveness */
@media (min-width: 1200px) {
    .nav-menu {
        max-height: none;
        top: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        display: flex;
        overflow: visible;
        background-color: transparent;
        flex-wrap: wrap;
        justify-content: center;
        height: 100px;
        gap: 10px;
    }

    .icons {
        display: flex;
        width: 150px;
        height: 50px;
        padding-top: 20px;
    }

    .icons span {
        display: flex;
        font-size: 24px;
        text-align: center;
    }

    .icons a img {
        display: flex;
        margin-left: 15px;
    }

    .nav-menu .search input {
        margin-top: 0px;
        width: 300px;
    }

    .nav-menu .search img {
        margin-top: 10px;
    }

    .menu {
        padding-top: 0px;
        padding-left: 90px;
        padding-right: 220px;
        height: 100px;
    }

    .menu ul {
        display: flex;
        position: absolute;
        top: 0px;
    }

    .menu li {
        float: left;
        color: var(--black);
    }

    .menu li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5) {
        display: none;
    }

    .menu a {
        font-size: 28px;
        padding: 19px;
    }

    .menu a:hover {
        color: var(--beige);
    }

    .hamb {
        display: none;
    }
}


/* Nav Menu end */

/* Pop header start */

.pop-header {
    display: flex;
    position: relative;
    width: 100vw;
    height: 432px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.pop-header .backg-x {
    display: none;
}

.pop-header .backg-s {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    min-width: 320px;
    min-height: 300px;
    top: 1%;
}

@media (min-width:1200px) {
    .pop-header {
        height: 1000px;
        width: 100vw;
        margin-top: 120px;

    }

    .pop-header .backg-x {
        width: 100vw;
        display: flex;
    }

    .pop-header .backg-s {
        display: none;
    }
}

#h1-container {
    display: flex;
    position: absolute;
    height: 126px;
    width: 100vw;
    background-color: var(--green);
    left: 50%;
    transform: translate(-50%);
}

#h1-container h1 {
    font-family: 'Gilda Display', serif;
    font-size: 34px;
    margin: auto;
    color: var(--lightbeige);
    font-weight: 400;

}

.pop-button .btn-txt {
    display: flex;
    position: absolute;
    color: var(--lightbeige);
    font-size: 20px;
    text-align: center;
    font-family: 'Gilda Display', serif;
    background-color: var(--green);
    border: none;
    padding: 20px;
    text-decoration: none;
    border-radius: 10px;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%);
}

@media (min-width: 1200px) {
    #h1-container {
        height: 220px;
    }

    #h1-container h1 {
        font-family: 'Gilda Display', serif;
        font-size: 70px;
        margin-left: 120px;
    }

    .pop-button .btn-txt {
        font-size: 36px;
        padding: 30px 50px;
        z-index: 999;
        bottom: 15%;
        left: 75%;
        transform: translate(none);
    }
}

/* Header container*/

.header {
    background-image: url(/images/header-back.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 428px;
    height: 525px;
    margin-top: 50px;
}


/* Header children */
.header h1 {
    margin: 40px 0px 0px 26px;
    display: flex;
    position: absolute;
    font-size: 34px;
    font-family: 'Gilda Display', serif;
    color: var(--lightbeige);
    mix-blend-mode: exclusion;
}

.header p {
    margin: 125px 25px 0px 26px;
    display: flex;
    position: absolute;
    font-size: 20px;
    color: var(--lightbeige);
    mix-blend-mode: exclusion;

}

.header .product {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    font-family: 'Gilda Display', serif;
    border: none;
    background-color: var(--black);
    color: var(--lightbeige);
    border-radius: 16px;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%);
    cursor: pointer;
}

@media (min-width: 1200px) {
    .header {
        background-image: url(/images/h-backg.jpg);
        width: 100vw;
        height: 1000px;
        background-size: 100vw;
    }

    .header h1 {
        font-size: 70px;
        margin-left: 120px;
        width: 500px;
    }

    .header h1 br {
        display: none;
    }

    .header p {
        font-size: 30px;
        margin-top: 200px;
        margin-left: 120px;
        width: 430px;
        line-height: 1.25em;
    }

    .header .product {
        padding: 30px 60px;
        font-size: 30px;
        left: 10%;
        bottom: 32%;
        transform: translate(0%);
    }
}

/*Her ligger navigations baren
Text-decoration: none;= fjerne den lillae linje der er på linket

a:visited=efter en bruger har klikket på linket
a:link=defult, brugern har ikke klikket, besøgt eller hvoerede over liket
*/

#oksekød-info{
    float: right;
    padding-right: 500px;
    font-size: 40px;
    text-align: center;
}

#oksekød-all{
    margin-bottom: 40px;
}

#beef{
    border-radius: 15%;
    width: 470px;
    padding-left: 30px;
}
/*Her er alt om oksekød*/
#vegansk-info{
    float: right;
    padding-right: 500px;
    font-size: 40px;
    text-align: center;
}

#vegansk-all {
    margin-bottom: 40px;
}

#vegen{
    border-radius: 15%;
    width: 470px;
    padding-left: 30px;
}

/*Her er alt om vegansk*/
#kylling-info{
    float: right;
    padding-right: 500px;
    font-size: 40px;
    text-align: center;
}
#kylling-all{
    margin-bottom: 40px;
}
#chiken{
    border-radius: 15%;
    width: 470px;
    padding-left: 30px;
}
/*Her er alt om kylling*/

/*Her er billederne og infoen på produkter (pris, antal og tittel)
Border-radius: x%; =gør hjørnerne rundere
*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    opacity: 2;
}

input{
    border-radius: 20px;
    font-size: 18px;
}

/*Her bestmmer man hvordan man styler antalsvælgeren*/

#check-ud{

    text-align: center;

}

#pris{
    font-size: 57px;
}
/*Her er prisen*/

button{
    color: white;
    background-color: #80c094;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border: none;
}

/*Her er knappen til "fortsæt til betaling"
Borderen: none; Fjerner kanten rundt om
Border-radius: x%; =gør hjørnerne rundere
Font-sixe: xpx; gør hele knappen størrer
*/

footer {
    background-color: var(--black);
    padding: 26px;
    display: flex;
    position: relative;
    flex-direction: column;
}

footer h1 {
    display: flex;
    font-family: 'Gilda Display', serif;
    font-size: 36px;
    margin-top: 40px;
    color: var(--lightbeige);
}

footer p {
    display: flex;
    font-size: 20px;
    margin-top: 5px;
    color: var(--lightbeige);

}

footer .newsletter {
    display: flex;
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%);
}

footer input {
    border-radius: 10px;
    width: 283px;
    height: 46px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    margin-right: 5px;
}

footer button {
    width: 85px;
    height: 46px;
    border-radius: 10px;
    border: none;
    background-color: var(--blue);
    color: var(--lightbeige);
    letter-spacing: 2px;
    font-weight: 300;
}

footer .social {
    display: flex;
    font-family: 'Gilda Display', serif;
    font-size: 25px;
    color: var(--lightbeige);
    margin-top: 150px;
}

footer .some {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 120px;
}

footer .some a .insta {
    height: 45px;
    left: 45%;
    transform: translate(-45%);
    display: flex;
    position: absolute;
}

footer .some a .fb {
    height: 45px;
    left: 75%;
    transform: translate(-75%);
    display: flex;
    position: absolute;
}

footer h2 {
    display: flex;
    font-family: 'Gilda Display', serif;
    font-size: 25px;
    color: var(--lightbeige);
    margin-top: 20px;
}

footer img {
    margin: 40px -30px 30px -26px;
}

@media (min-width:1200px){
    .footer{
        display: flex;
        flex-direction: row;
        margin: 20px;
    }
    footer h1 {
        font-size: 40px;
        width: 400px;
    }
    footer p {
        margin-top: 20px;
        font-size: 26px;
    }   
    footer .newsletter {
        left: 45px;
    top: 220px;
    transform: translate(0%);
    }

    footer .social{
        margin-top: 45px;
        text-align: center;
    }
    footer .some {
        justify-content: center;
    }
    footer #social {
        margin-right: 50px;
    }
    footer h2{
        font-size: 30px;
        margin-top: 45px;
    }
    footer p{
        font-size: 20px;
        margin-top: 10px;
    }
    footer img {
        height: 100px;
        margin: 40px -30px 15px -26px;
    }
    .copy{
        width: 100vw;
        justify-content: center;
        margin-bottom: 20px;
    } 
   
}